<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>WorldCrafters</title>
<link rel="icon" type="image/x-icon" href="images/favicon.ico">
<link rel="stylesheet" type="text/css" href="vendor/flickity.min.css">
<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/all.css">
<script src="vendor/jquery.min.js"></script>
<script src="vendor/flickity.pkgd.min.js"></script>
<link rel="stylesheet" type="text/css" href="styles/style.css">
<script src="scripts/script.js"></script>
</head>