/* CONTACT CONTAINER */
#messageContainer {
    width: 60%;
    margin-left: 20%;
    margin-top: -450px;
    background-color: #FDF6ED;
    padding: 20px;
    border-radius: 15px;
    min-height: 500px;
}

#messageContainer h1 {
    text-align: center;
}

#linkContainer {
	display: flex;
	justify-content: center;
    align-items: center;
}

#linkContainer a {
	text-align: center;
	color: blue;
	text-decoration: underline;
}

#linkContainer a:hover {
	color: #007bff;
}


@media only screen and (max-width: 768px) {
	
	/* BACKGROUND IMAGE */
	#background {
	    background-image: url(../imgs/presentation-bg2.jpg);
	    background-position: center;
	    background-size: cover;
	}
	
	#messageContainer {
	    width: 90%;
	    margin-left: 5%;
	    margin-top: -500px;
	    padding: 20px;
	    min-height: 250px;
	}
	
	#messageContainer h1 {
	    font-size: 16px;
	}
	
	#linkContainer a {
		font-size: 13px;
	}
	
}