/* Stile per l'intestazione h1 */
h1 {
  color: #333;
}

/* Stile per il contenitore degli acquisti */
#purchasesContainer {
  	width: 50%;
    margin-left: 25%;
    margin-top: -500px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    min-height: 550px;
}

/* Stile per la lista degli acquisti */
#purchasesList {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: left;
  background-color: #fff;
}


/* Stile per il messaggio quando non ci sono acquisti */
#noPurchase {
  color: #888;
  font-style: italic;
  text-align: center;
}

/* Stile per ciascun acquisto */
.purchase {
  margin-bottom: 15px;
}

/* Stile per i paragrafi all'interno di ciascun acquisto */
.purchase p {
  margin: 5px 0;
  font-weight: bold;
  font-size: 16px;
}

/* Stile per il paragrafo "Nessun ordine effettuato" */
#noPurchase p {
  margin: 0;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
}

#deleteRequest {	
	color: brown;
	text-decoration: underline;
	cursor: pointer;
}

#deleteRequest:hover {	
	color: red;
}