/* Stile per l'intestazione h1 */
h1 {
  color: #002642;
}

/* Stile per il contenitore degli acquisti */
main {
  	width: 70%;
    margin-left: 15%;
    margin-top: -500px;
    background-color: #FDF6ED;
    padding: 20px;
    border-radius: 15px;
    min-height: 550px;
}

/* Stile per la lista degli acquisti */
#purchasesList {
  	margin: 10px;
  	padding: 10px;
  	border: 1px solid #002642;
  	border-radius: 5px;
  	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  	text-align: left;
  	background-color: #fff;
}

/* Stile per ciascun acquisto */
.purchase-details {
  	margin-bottom: 15px;
  	border-bottom: 1px solid #002642;
  	padding: 10px;
}

/* Stile per i paragrafi all'interno di ciascun acquisto */
.purchase-details p {
  	margin: 5px 0;
  	font-weight: bold;
  	font-size: 16px;
}

.purchase-img-container {
	display: inline;
	margin-bottom: 20px;
}

.purchase-img {
	width: 180px;
	height: 100%;
}

/* Stile per il messaggio quando non ci sono acquisti */
#noPurchase {
  	color: #888;
  	font-style: italic;
  	text-align: center;
}

/* Stile per il paragrafo "Nessun ordine effettuato" */
#noPurchase p {
  	margin: 0;
  	font-style: normal;
  	font-size: 18px;
  	font-weight: normal;
}

#deleteRequest {	
	display: inline;
	color: brown;
	text-decoration: underline;
	cursor: pointer;
}

#deleteRequest:hover {	
	color: red;
}


@media only screen and (max-width: 768px) {
	
	
	h1 {
		font-size: 16px;
	}
	
	/* Stile per il contenitore degli acquisti */
	main {
	  	width: 90%;
	    margin-left: 5%;
	    margin-top: -550px;
	    padding: 12px;
	}
	
	#purchasesList {
	  	padding: 6px;
	}
	
	
	/* Stile per ciascun acquisto */
	.purchase-details {
	  	margin-bottom: 8px;
	  	padding: 5px;
	}
	
	/* Stile per i paragrafi all'interno di ciascun acquisto */
	.purchase-details p {
	  	font-size: 13px;
	}
		
	.purchase-img {
		width: 60px;
		height: 100%;
	}
	
	/* Stile per il messaggio quando non ci sono acquisti */
	#noPurchase {
	  	color: #888;
	  	font-style: italic;
	  	text-align: center;
	}
	
	/* Stile per il paragrafo "Nessun ordine effettuato" */
	#noPurchase p {
	  	margin: 0;
	  	font-style: normal;
	  	font-size: 18px;
	  	font-weight: normal;
	}
	
	#deleteRequest {	
		display: inline;
		color: brown;
		text-decoration: underline;
		cursor: pointer;
	}
	
	#deleteRequest:hover {	
		color: red;
	}

}
