/* USERBAR*/
#userbar{
    background: #FDF6ED;
    position:fixed;
    right: 0px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    overflow-x: hidden;
    opacity: 0;
    /*transition: opacity 0.5s;*/
    z-index: 90;
}

#userbar li {
    list-style: none;
}


/* CSS PER ESTETICA DELLA LISTA LOGIN, REGISTER E CONTACT */
#userbar li button,
#userbar li a {
    display: inline-block;
    padding: 10px;
    color: #002642;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 20px;
}

#userbar li button:hover,
#userbar li a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 768px) {
    
    #userbar{
        position: absolute;
        padding: 5px;
        overflow: hidden;
    }
    
    
    #userbar li button,
	#userbar li a {
	    font-size: 12px;
	    height: 15px;
	}
	
    .userbar-open {
        overflow: hidden;
    }
}