/* FOOTER */
footer {
    background-color: #8cada7;
    padding-top: 25px;
    margin-top: 30px;
    width: 100vw;
    overflow: hidden;
}

.carousel-cell {
    width: 66%;
    height: 400px;
    border-radius: 5px;
    margin-right: 15px;
    padding: 10px;
}

.carousel-cell h1 {
    color: white;
    text-align: center;
    font-size: 40px;
}

.carousel-cell p {
    color: white;
    text-align: left;
    font-size: 30px;
    padding: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
}

#info {
    margin-top: 30px;
    margin-left: 10px;
}

#signature {
    background-color:midnightblue;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    align-items: center;
    height: 30px;
}

@media only screen and (max-width:768px) {
	
	.carousel-cell {
	    height: 180px;
	    border-radius: 5px;
	    margin-right: 5px;
	}
	
	.carousel-cell h1 {
	    font-size: 18px;
	}
	
	.carousel-cell p {
	    font-size: 12px; 
	    font-size: 12px; 
	    margin-top: 3px;
	    margin-left: 1%;
	    margin-right: 1%;
	}
	
	#info h1 {
		font-size: 18px;
	}
	
	#info p {
		font-size: 12px;
	}
	
	#signature {
	    font-size: 12px;
	}
	
	.flickity-button {
		display: none;
	}
}