/* HEADER */

header {
    position: fixed;
    width: 100vw;
    height: 70px;
    padding: 20px;
    top: 0px;
    left: 0px;
    box-shadow: 0px 16px 15px -10px rgba(0,0,0,0.6);
    background-color: #8cada7;
    overflow: hidden;
    z-index: 990;
}

header .simple-link {
    flex-basis: 4%;
}

header .simple-link, 
#searchbar input {
	font-size: 20px;
}

#logo {
	flex-basis: 16%;
}

#searchbar {
    flex-basis: 40%;
    background-color:antiquewhite;
    border-radius: 20px;
    padding: 5px;
}

#searchbar input {
    flex-basis: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
}

#searchbar button {
    flex-basis: 5%;
    border: none;
    background-color: transparent;
}

#logo img {
	width: 60px;
}

#logo span {
	font-size: 30px;
}

#headerSpace {
    width: 100vw;
    height: 70px;
}


@media only screen and (max-width: 768px) {
	
	#logo span,
	#homeButton {
		display: none;
	}
	
	
	header {
	    height: 50px;
	    padding: 10px;
	    top: 0px;
	    left: 0px;
	    box-shadow: 0px 16px 15px -10px rgba(0,0,0,0.6);
	    background-color: #8cada7;
	    z-index: 990;
	}
	
	.icon {
		font-size: 15px;
	}
	
	.flex-between {
		justify-content: space-around;
	}
	
	header .simple-link {
	    flex-basis: 4%;
	}
	
	header .simple-link, 
	#searchbar input {
		font-size: 12px;
	}
	
	#logo {
		flex-basis: 6%;
	}
	
	#searchbar {
	    flex-basis: 40%;
	    background-color:antiquewhite;
	    border-radius: 20px;
	    padding: 5px;
	}
	
	#searchbar input {
	    flex-basis: 95%;
	    background-color: transparent;
	    border: none;
	    outline: none;
	    padding: 3px;
	}
	
	#searchbar button {
	    flex-basis: 5%;
	    border: none;
	    background-color: transparent;
	}
	
	#logo img {
		width: 30px;
	}
	
	#headerSpace {
	    width: 100vw;
	    height: 50px;
	}
}