/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    padding: 20px;
    position: fixed;
    box-shadow: 0px 16px 15px -10px rgba(0,0,0,0.6);
    overflow: hidden;
    background-color: #8cada7;
    z-index: 99;
}

header i {
	font-size: 30px;
}

header a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: black;
    font-size: 20px;
}

#logoContainer {
	flex-basis: 16%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.link {
	flex-basis: 4%;
}

#cartQuantity {
	font-weight: bold;
	font-size: 18px;
	color: orange;
}

#searchbar-form {
    flex-basis: 40%;
    display: flex;
    justify-content: space-between;
    background-color:antiquewhite;
    border-radius: 20px;
    padding: 5px;
}

#searchbar-form input {
    flex-basis: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 20px;
}

#searchbar-form button {
    flex-basis: 5%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#logoContainer img {
	width: 60px;
}

#logoContainer span {
	color: white;
	font-size: 30px;
}

#headerSpace {
    width: 100vw;
    height: 70px;
}

@media only screen and (max-width: 768px) {
	
	#logoContainer span,
	#homeButton,
	#contactButton {
		display: none;
	}
	
	header {
	    position: absolute;
	    height: 50px;
	    padding: 10px;
	    justify-content: space-around;
	}
	
	header i {
		font-size: 15px;
	}

	#logoContainer {
		flex-basis: 6%;
	}
	
	#searchbarContainer {
	    padding: 3px;
	}
	
	#searchbarContainer input {    
	    padding: 3px;
	    font-size: 12px;
	}
	
	#logoContainer img {
		width: 30px;
	}
	
	#headerSpace {
	    height: 50px;
	}
}