/* HOME */


/* PRESENTATION */
#presentation {
    background-image: url(../imgs/presentation-bg2.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    overflow: hidden;
}

#presentation p {
    position: absolute;
    font-size: 50px;
    text-align: right;
    background-color: white;
    padding: 14px;
    border-bottom-right-radius: 20px;
}


/* SHOWCASE */
#showcaseContainer {
    background-color: white;
    padding: 30px;
    margin-top: -240px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#showcase {
    display: grid; 
    gap: 1em; 
    grid-template-areas: 
        ". . . . . ."
        ". . . . . ."
        ". . . . . .";
}
.product {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid gray;
}

.product .product-title {
    margin: 6px;
}

.product-title {
    width: 100%;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product img {
    width: 100%;
}

.product .product-price {
    text-align: center;
    margin-bottom: 8px;
}

.product .add-to-cart {
    text-align: center;
    border: 1px solid gray;
    cursor: pointer;
	word-break: break-all;
}


@media only screen and (max-width: 768px) {
	
	
	/* PRESENTATION */
	#presentation {
	    background-image: url(../imgs/presentation-bg2.jpg);
	    background-position: center;
	    background-size: cover;
	    height: 300px;
	    overflow: hidden;
	}
	
	#presentation p {
	    position: absolute;
	    font-size: 14px;
	    text-align: right;
	    background-color: white;
	    padding: 14px;
	    border-bottom-right-radius: 20px;
	}


	/* SHOWCASE */
	#showcaseContainer {
	    background-color: white;
	    padding: 15px;
	    margin-top: -200px;
	    width: 94%;
	    margin-left: 3%;
	    margin-right: 3%;
	    border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	}
	
	#showcaseContainer h1 {
		font-size: 16px;
	}
	
	#showcase {
	    display: grid; 
	    gap: 3px;
	    grid-template-areas: 
	        ". . . ."
	        ". . . ."
	        ". . . ."
	        ". . . ."
	        ". . . .";
	}
	
	
	product {
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	    border: 1px solid gray;
	}
	
	.product .product-title {
	    margin: 6px;
	}
	
	.product-title {
	    width: 100%;
	    display: block;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	    font-size: 12px;
	}
	
	.product img {
	    width: 100%;
	}
	
	.product .product-price {
	    text-align: center;
	    font-size: 12px;
	    margin-bottom: 8px;
	}
	
	.product .add-to-cart {
	    text-align: center;
	    border: 1px solid gray;
	    cursor: pointer;
	    font-size: 12px;
	}
}