@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

/* PRESENTATION */
#presentation {
    background-image: url(../images/presentation-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    overflow: hidden;
}

/* SHOWCASE */
#productsListContainer {
    background-color: white;
    padding: 30px;
    margin-top: -550px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    min-height: 600px;
}

#productsList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
}

.product {
    position: relative;
    border: 2px solid #8cada7;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.product-image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #8cada7; /* Colore di sfondo della cornice */
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 1px solid #8cada7; /* Colore del bordo dell'immagine */
  border-radius: 10px; /* Arrotondamento del bordo dell'immagine */
}

.product-details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.product-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  line-height: 1.2; /* Aggiunta questa proprietà */
  max-height: 2.4em; /* Aggiunta questa proprietà */
  overflow: hidden; /* Aggiunta questa proprietà */
}

.product-price {
  font-size: 12px;
  color: #666;
  margin-top: auto;
  margin-bottom: 5px; /* Aggiunta questa proprietà */
}

.add-to-cart {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: orange;
  border: 2px solid darkorange;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px; /* Modificato da "margin-top: auto;" */
}

.add-to-cart:hover {
    background-color: darkorange;
    border-color: orange;
    border-width: 3px;
}

/* PAGINAZIONE */

#pagination {
	display: flex;
	width: 60%;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	margin-left: 20%;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagination a,
#pagination span {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 4px;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

#pagination a:hover {
  background-color: #ddd;
}

#pagination strong {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 4px;
  color: #fff;
  background-color: #333;
  border-radius: 4px;
}

#pagination a.disabled {
  pointer-events: none;
  opacity: 0.6;
}

#pagination a.disabled:hover {
  background-color: #f5f5f5;
}

























