/* SIDEBAR */
#sidebar {
    background: white;
    overflow-y: auto;
    position:fixed;
    width: 350px;
    top: 0px;
    height: 100vh;
    left: -400px;
    z-index: 999;
    padding: 20px;
    border-top-right-radius: 5px;
}

#sidebar i{
    cursor: default;
}

#sidebar .category button {
	font-size: 20px;
}

#sidebar .subcategory button{
    margin-left: 30px;
    font-size: 17px;
    color: gray;
}

button {
	cursor: pointer;
	border: none;
}

#sidebar li {
    list-style: none;
}

.sidebar-open {
  	overflow: hidden;
}

#sidebar i:nth-child(1) {
	float: right;
	cursor: pointer;
	font-size: 25px;
}

#sidebar i:nth-child(1):hover {
	color: orange;
}

@media only screen and (max-width: 768px) {
	
	#sidebar {
	    background: white;
	    overflow-y: scroll;
	    position:fixed;
	    width: 200px;
	    height: 100vh;
	    top: 0px;
	    left: -400px;
	    z-index: 999;
	    padding: 20px;
	    border-top-right-radius: 5px;
	}
	
	#sidebar h1 {
		font-size: 16px;
	}
	
	#sidebar i{
	    cursor: default;
	}
	
	#sidebar .category a {
		font-size: 12px;
	}
	
	#sidebar .subcategory a{
	    margin-left: 30px;
	    font-size: 11px;
	    color: gray;
	}
	
	#sidebar li {
	    list-style: none;
	}
	
	#sidebar .subcategory {
		margin-top: 0px;
	}
	
	#sidebar li a {
	    text-decoration: none;
	    color: black;
	}

	#sidebar i:nth-child(1) {
		float: right;
		cursor: pointer;
		font-size: 18px;
	}
	
	#sidebar i:nth-child(1):hover {
		color: orange;
	}
	
	.sidebar-open {
	  	overflow: hidden;
	  	position: fixed;
	}
}