/* USERBAR*/
#userbar{
    background: white;
    position:fixed;
    right: 0px;
    padding: 20px;
    border-bottom-left-radius: 10px;
    overflow-x: hidden;
    opacity: 0;
    /*transition: opacity 0.5s;*/
    z-index: 985;
}

#userbar li {
    list-style: none;
}

#userbar li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}


@media only screen and (max-width: 768px) {
    
    #userbar{
        background: white;
        position: absolute;
        right: 0px;
        padding: 5px;
        border-bottom-left-radius: 10px;
        overflow: hidden;
    }
    
    #userbar li {
        list-style: none;
    }
    
    #userbar li a {
        text-decoration: none;
        color: black;
        font-size: 10px;
    }
    
    .userbar-open {
        overflow: hidden;
    }
}